@charset "UTF-*";

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-fundo: rgb(44, 18, 3);
    --color-active: rgba(151, 74, 29, 0.952);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background: black url(../imagens/fundo-madeira.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header {
    opacity: 1;
    background-color: var(--color-fundo);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.450);
    height: 5.5em;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation_header {
    gap: 2em;
}

.navigation_header img, .header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.450);
    transition: 1s;
}
.active {
    background-color: var(--color-active);
    border-radius: 50%;
    border: 7px solid var(--color-active);
}
.content {
    z-index: -999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content img {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width:48em), (max-height:51.30em) {
 
    .content img {
            max-width: 100%;
            height: auto;
        }

}